* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr, th, td {
  border: 0.15rem solid black;
  padding: 0.5rem;
  text-align: center;
}